{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block main %}
    {% if user.is_authenticated %}
        <div class="row flex">
            <div class="col-sm">
                <h1> Hello {{ user.username }}</h1>
                <a href="{% url 'list_client' %}">Clients</a>
            </div>
            <div class="col-sm logout">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}