{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Update Client{% endblock %}
{% block main %}
    <h1>Update: {{client}}</h1>
    <form class="myForm" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="finish-buttons">
            <input class="btn btn-primary finish-button" type="submit" value="Update"/>
            <a class="btn btn-secondary finish-button" href="{% url 'list_client' %}">Back</a>
        </div>
    </form>
{% endblock %}
