{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block main %}
    <div>
        <h1>Client List</h1>
        {% for client in clients %}
        <a href="{% url 'detail_client' client.id %}">{{ client }}</a>
        <a href="{% url 'delete_client' client.id %}">Delete</a>
        {% empty %}
        <h2> Doesn't exist any client</h2>
        {% endfor %}
    </div>
    <a href="{% url 'create_client' %}">New Client</a>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}

